 <div class="container-fluid">
  <div class="row bg-light">

    <div class="card bg-light text-light ">
      <img src="assets/main.jpg" alt="Altanative image" class="img-fluid rounded">

      <div class="card-img-overlay">
        <div class="d-flex justify-content-start align-items-start">ずっと一緒ににいるのに 見ていなかった”あなた”を言葉にする</div>
        <div class="d-flex justify-content-center align-items-center">言葉を紡ぐことで "わたし"の思考に”わたし”が映し出される</div>
        <div class="d-flex justify-content-end align-items-end">映し出された”わたし”に”わたし”は出逢える</div>
          <div class="jumbotron  mt-4 bg-transparent">
            <h1 class="display-4">私を見つける<br>アプリ<br>Tekagami</h1>
          </div>
      </div>
    </div>

    <div class="container-fluid howto">
      <div class="row">
        <div class="mt-4 mb-1">
          <h2>4 stepを記述する</h2>
        </div>
      </div>
    </div>
    
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="assets/preparation" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Step1<br>現実と夢</h5>
          <p class="card-text mt-4">現実<p>
          <p class="card-text">夢・目標</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/main.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Step2<br>夢の課題</h5>
          <p class="card-text mt-4">こうなりたい姿</p>
          <p class="card-text">こうありたい心</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/main.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Step3<br>課題の克服</h5>
          <p class="card-text mt-4">課題と向き合う</p>
          <p class="card-text">課題への手段</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/main.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Step4<br>克服し現実へ</h5>
          <p class="card-text mt-4">向き合った景色</p>
          <p class="card-text">再び向き合うために</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>

  </div>
</div>